.venv/
__pycache__/
*.pyc
.env
.env.*
dbt/target/
dbt/logs/
dbt/.user.yml
airflow/logs/
dashboard/.streamlit/secrets.toml
*.db
*.sqlite
*.duckdb
.DS_Store
profiles.yml
dbt/profiles.yml
**/profiles.yml
secrets.toml
.idea/
airflow/docker/.env
airflow/logs/